@tailwind base;
@tailwind components;
@tailwind utilities;

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.esri-view {
  --esri-view-outline-color: none !important;
  --esri-view-outline: none !important
}